<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            margin-top: 50px;
          border-collapse: collapse;
        }
        
        table, td, th {
          border: 1px solid black;
          font-size: 30px;
        }
        label,a{
              
            font-size: 30px;
        }
        </style>
</head>
<body>
  
  <a href="{{ url_for('index')}}">資料列表</a>
  <a href="{{ url_for('edit_data')}}">修改資料</a>
        <table>
            <thead>
               
              <tr>
               
                <th >帳號</th>
                <th >密碼</th>
                <th >修改</th>
              </tr>
            </thead>
            <tbody>
               {% for i in sendDs %}
                      <tr>
                        <form  method=POST class=delete-entry>
                          <td><input type="text" id="name" name="name" value='{{ i[0] }}'></td>
                   
                          <td><input type="text" id="pass" name="pass"  value='{{ i[1] }}'></td>
                                       
                           <td><input type="hidden" name="name" value='{{ i[0] }}'>
                            <input type="submit" value="Edit" /></td> 
                                      
                            </form>
                </td>
                      </tr>

                   {% endfor %}
            </tbody>
          </table>  
         
</body>
</html>


</form>

    
  



